In [1]:
# Dependencies
import json
import requests
import pandas as pd
from config import api_key

In [6]:
host = "http://api.census.gov/data"
year = "2018"
dataset = "cbp"
base_url = "/".join([host, year, dataset])
predicates = {}
get_vars = ["NAME","EMP"]
predicates["get"] = ",".join(get_vars)
predicates["for"] = "state:*"

In [7]:
r = requests.get(base_url, params=predicates)

In [13]:
r_json = r.json()[1:]

In [15]:
r_df = pd.DataFrame(r_json)
r_df

                                               0         1   2
0                                       Nebraska    845616  31
1                                    Mississippi    944890  28
2                                       Missouri   2533694  29
3                                        Montana    371239  30
4                                         Nevada   1221809  32
5                                  New Hampshire    612420  33
6                                     New Jersey   3739076  34
7                                     New Mexico    631393  35
8                                        Alabama   1730817  01
9                                         Alaska    261053  02
10                                       Arizona   2549128  04
11                                      Arkansas   1043210  05
12                                    California  15223664  06
13                                          Ohio   4878062  39
14                                      New York   8410206  36
15                                North Carolina   3848565  37
16                                  North Dakota    346155  38
17                                      Oklahoma   1385228  40
18                                        Oregon   1629432  41
19                                  Pennsylvania   5478025  42
20                                  Rhode Island    442449  44
21                                South Carolina   1903609  45
22                                  South Dakota    359771  46
23                                     Tennessee   2683214  47
24                                         Texas  10794596  48
25                                       Vermont    261282  50
26                                          Utah   1337574  49
27                                      Virginia   3386839  51
28                                    Washington   2847481  53
29                                 West Virginia    554567  54
30                                     Wisconsin   2602148  55
31                                       Wyoming    205786  56
32                                          Guam     59917  66
33  Commonwealth of the Northern Mariana Islands     19304  69
34                                American Samoa      7596  60
35                  United States Virgin Islands     25298  78
36                                   Puerto Rico    661332  72
37                                       Florida   8669611  12
38                                      Delaware    405809  10
39                          District of Columbia    539557  11
40                                   Connecticut   1528867  09
41                                       Georgia   3975657  13
42                                         Idaho    597765  16
43                                        Hawaii    551681  15
44                                      Illinois   5524630  17
45                                       Indiana   2816081  18
46                                          Iowa   1364250  19
47                                        Kansas   1203434  20
48                                      Kentucky   1642234  21
49                                     Louisiana   1691552  22
50                                         Maine    516240  23
51                                      Maryland   2366053  24
52                                 Massachusetts   3323852  25
53                                      Michigan   3947891  26
54                                     Minnesota   2729492  27
55                                      Colorado   2423817  08